:root {
    --main-bg-color: #efefef;
    --main-text-color: #535353;
    --socia-media-bg-color: #909090;
    --black-color: #222222
}

/* GLOBAL STYLES */
body {
    font-family: 'Raleway', sans-serif;
    color: var(--main-text-color);
}

.main-section {
    max-width: 1880px;/*20px margin left and 20px margin right*/
    height: calc(100vh - 24px);
    margin: 1.5rem auto;
    background-color: var(--main-bg-color);
    padding: 2rem 4rem; 
    overflow: hidden;
}

.main-section-flexed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-section .title {
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.main-section .desc {
    font-style: italic;
    margin-bottom: 2rem;
}

.section-info {
    flex: 0 0 50%;
}

 /* LINE */
.line {
    display: inline-block;
    background-color: var(--black-color);
}

.vertical-line {
    height: 6rem;
    width: 1px;
}

.horizontal-line {
    width: 6rem;
    height: 1px;
}

/*** HERO SECTION START ***/

/* INFO */
#hero.main-section {
    position: relative;
}

#hero.main-section .nav {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

/* IMAGE */
 img.hero-img {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 4rem;

 }

/*** HERO SECTION END ***/

/*** CAMERA SECTION START ***/
#camera.main-section .section-info {
    order: 1;
}

#camera.main-section .section-info .title {
    align-items: center;
    display: flex;
    gap: 1rem;
}

#camera.main-section .socials {
    display: flex;
    align-items: center;
    gap: 2rem;
} 

#camera.main-section .socials .social {
    position: relative;
    width: 3rem;
    height: 3rem;
    color: white;
    background-color: var(--socia-media-bg-color);
}

#camera.main-section .socials .social i {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*** CAMERA SECTION END ***/

/*** GALLERY SECTION START ***/
#gallery.main-section {
    display: flex;
    align-items: center;
}

#gallery.main-section .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

#gallery.main-section .images .img:hover {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

#gallery.main-section .images .img:hover {
    transform: scale(1.5);
}
/*** GALLERY SECTION END ***/

/*** FORM SECTION START ***/
#form-section.main-section.main-section-flexed {
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#form-section.main-section.main-section-flexed .section-info {
    width: 50%;
}

#form-section.main-section .form-submit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);/*width*/
    grid-template-rows: 40px 150px;/*height*/
    grid-template-areas: 
    'email subject'
    'message message'
    'button button';
    gap: 2rem;
}

#form-section.main-section .form-submit input[name='email'] {
    grid-area: email;
}

#form-section.main-section .form-submit input[name='subject'] {
    grid-area: subject
}

#form-section.main-section .form-submit textarea[name='message'] {
    grid-area: message;
}

#form-section.main-section .form-submit .send-btn {
    grid-area: button;
    padding: 0.5rem 1rem;
    background-color: var(--black-color);
    color: white;
}
/*** FORM SECTION END ***/
