.container {
    border: 2px dashed black;
    text-align: center;
}

.text {
    display: inline-block;
    background-color: gray;
    width: 200px;
    vertical-align: middle;
    margin: 5px;
}

 /*
    vertical-align
    align only inline and inline-block elements
    we should select all elements to calculate their biggest line-height
 */

 /* 
    text-align
    align horizontally only for inline and inline-block elements

 */